@tile-color: #f7f7f7;

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #222;
}

.current{
  padding: 10px 0;
  &:after {
    content: ' ';
    position: absolute;
    border: solid 30px transparent;
    border-top: solid 0px transparent;
    border-width: 30px;
    left: 50%;
    margin-left: -30px;
    border-color: #000 transparent transparent transparent;
  }
  a {
    font-size: 2.5em;
    cursor: default;
  }
}

.navbar-inverse {
  font-family: 'Lobster', cursive;
  border: none;
  background-color: #000;
  .row::after{
    content: ' ';
    width: 300px;
    height: 100px;
    background-size: cover;
    background-image: url('../img/arrow.png');
  }
  .navbar-nav>li{
    float: none;
    >a{
      color: #eee;
    }
  }
}

.rotating {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: .9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.tile {
  padding: 50px 25px 50px 25px;
  border: 10px solid #222;
  &.tile-green {
    background-color: @tile-color;
  }
  &.tile-blue {
    padding-top: 40px;
    background-color: @tile-color;
    height: 350px;
    @media(max-width: 570px) and (min-width: 430px){
      height: 475px;
    }
  }
  &.tile-red {
    background-color: @tile-color;
  }
}

.flame {
  height: 4em;
  width: 3em;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../img/flame.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.no-flame {
  height: 4em;
  width: 3em;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../img/flame-grey.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.temp-text{
  margin-top: -10px;
  font-size: 3em;
  color: #000;
}

.outside-fan {
  margin-top: 20px;
  background-image: url('../img/thingyoutsidefan.png');
  height: 6em;
  width: 6em;
  background-size: cover;
  z-index: 100;
  position: relative;
}

.inside-fan {
  background-image: url('../img/fan.png');
  position: absolute;
  left: .5em;
  top: .5em;
  height: 5em;
  width: 5em;
  background-size: cover;
  z-index: 3000;
}

button.btn.btn-primary.settings{
  border: none;
  background-color: @tile-color;
  border-radius: 0;
  padding: 15px 20px;
  cursor: pointer;
  i {
    color: #eee;
  }
}


.flip-container {
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container.turned .flipper, .flip-container.turned .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;

}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  background: @tile-color;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

#burningSettings{
  label{
    font-weight: 400;
  }
}


.fields{
  background: @tile-color;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4,
.col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8,
.col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (max-width: 570px) {
  .col-xxs-1,
  .col-xxs-2,
  .col-xxs-3,
  .col-xxs-4,
  .col-xxs-5,
  .col-xxs-6,
  .col-xxs-7,
  .col-xxs-8,
  .col-xxs-9,
  .col-xxs-10,
  .col-xxs-11 {
    float: left;
  }

  .col-xxs-1 {
    width: 8.333333333333332%;
  }

  .col-xxs-2 {
    width: 16.666666666666664%;
  }

  .col-xxs-3 {
    width: 25%;
  }

  .col-xxs-4 {
    width: 33.33333333333333%;
  }

  .col-xxs-5 {
    width: 41.66666666666667%;
  }

  .col-xxs-6 {
    width: 50%;
  }

  .col-xxs-7 {
    width: 58.333333333333336%;
  }

  .col-xxs-8 {
    width: 66.66666666666666%;
  }

  .col-xxs-9 {
    width: 75%;
  }

  .col-xxs-10 {
    width: 83.33333333333334%;
  }

  .col-xxs-11 {
    width: 91.66666666666666%;
  }

  .col-xxs-12 {
    width: 100%;
  }

  .col-xxs-push-1 {
    left: 8.333333333333332%;
  }

  .col-xxs-push-2 {
    left: 16.666666666666664%;
  }

  .col-xxs-push-3 {
    left: 25%;
  }

  .col-xss-push-4 {
    left: 33.33333333333333%;
  }

  .col-xxs-push-5 {
    left: 41.66666666666667%;
  }

  .col-xxs-push-6 {
    left: 50%;
  }

  .col-xxs-push-7 {
    left: 58.333333333333336%;
  }

  .col-xxs-push-8 {
    left: 66.66666666666666%;
  }

  .col-xxs-push-9 {
    left: 75%;
  }

  .col-xxs-push-10 {
    left: 83.33333333333334%;
  }

  .col-xxs-push-11 {
    left: 91.66666666666666%;
  }

  .col-xxs-pull-1 {
    right: 8.333333333333332%;
  }

  .col-xxs-pull-2 {
    right: 16.666666666666664%;
  }

  .col-xxs-pull-3 {
    right: 25%;
  }

  .col-xxs-pull-4 {
    right: 33.33333333333333%;
  }

  .col-xxs-pull-5 {
    right: 41.66666666666667%;
  }

  .col-xxs-pull-6 {
    right: 50%;
  }

  .col-xxs-pull-7 {
    right: 58.333333333333336%;
  }

  .col-xxs-pull-8 {
    right: 66.66666666666666%;
  }

  .col-xxs-pull-9 {
    right: 75%;
  }

  .col-xxs-pull-10 {
    right: 83.33333333333334%;
  }

  .col-xxs-pull-11 {
    right: 91.66666666666666%;
  }

  .col-xxs-offset-1 {
    margin-left: 8.333333333333332%;
  }

  .col-xxs-offset-2 {
    margin-left: 16.666666666666664%;
  }

  .col-xxs-offset-3 {
    margin-left: 25%;
  }

  .col-xxs-offset-4 {
    margin-left: 33.33333333333333%;
  }

  .col-xxs-offset-5 {
    margin-left: 41.66666666666667%;
  }

  .col-xxs-offset-6 {
    margin-left: 50%;
  }

  .col-xxs-offset-7 {
    margin-left: 58.333333333333336%;
  }

  .col-xxs-offset-8 {
    margin-left: 66.66666666666666%;
  }

  .col-xxs-offset-9 {
    margin-left: 75%;
  }

  .col-xxs-offset-10 {
    margin-left: 83.33333333333334%;
  }

  .col-xxs-offset-11 {
    margin-left: 91.66666666666666%;
  }
}